<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminPaymentMapper">
  
	<!-- 전체조회 카운트 -->
	<select id="countPaymentList" resultType="int">
		SELECT COUNT(*)
		FROM PAYMENT P
		JOIN PROJECT PJ ON PJ.NO = P.PROJECT_NO
		JOIN PROJECT_STATUS PJS ON PJS.NO = PJ.STATUS_NO
		JOIN PAYMENT_TYPE PT ON PT.NO = P.PAYMENT_TYPE_NO
		JOIN PAYMENT_STATUS PS ON PS.NO = P.PAYMENT_STATUS_NO
		JOIN BACKER B ON B.PROJECT_NO = PJ.NO
		JOIN MEMBER M ON M.NO = B.MEMBER_NO
		ORDER BY P.NO DESC
	</select>
	
	<!-- 전체조회 -->
	<select id="getPaymentList" resultType="com.gamepound.app.payment.vo.PaymentVo">
		SELECT 
			P.NO AS NO
		    , M.NAME AS BACK_NAME
		    , PJ.TITLE AS PROJECT_TITLE
		    , PJS.STATUS AS PROJECT_STATUS
		    , PT.PAYMENT_TYPE AS PAYMENT_TYPE
		    , PS.PAYMENT_STATUS AS PAYMENT_STATUS
		    , P.AMOUNT AS AMOUNT
		    , TO_CHAR(P.PAYMENT_DATE, 'YYYY-MM-DD') AS PAYMENT_DATE
		FROM PAYMENT P
		JOIN PROJECT PJ ON PJ.NO = P.PROJECT_NO
		JOIN PROJECT_STATUS PJS ON PJS.NO = PJ.STATUS_NO
		JOIN PAYMENT_TYPE PT ON PT.NO = P.PAYMENT_TYPE_NO
		JOIN PAYMENT_STATUS PS ON PS.NO = P.PAYMENT_STATUS_NO
		JOIN BACKER B ON B.PROJECT_NO = PJ.NO
		JOIN MEMBER M ON M.NO = B.MEMBER_NO
		ORDER BY P.NO DESC
	</select>
	
	<!-- 검색 전체조회 -->
	<select id="">
		SELECT 
		    P.NO AS NO
		    , M.NAME AS BACK_NAME
		    , PJ.TITLE AS PROJECT_TITLE
		    , PJS.STATUS AS PROJECT_STATUS
		    , PJS.NO AS PROJECT_STATUS_NO
		    , PT.PAYMENT_TYPE AS PAYMENT_TYPE
		    , PT.NO AS PAYMENT_TYPE_NO
		    , PS.PAYMENT_STATUS AS PAYMENT_STATUS
		    , PS.NO AS PAYMENT_STATUS_NO
		    , P.AMOUNT AS AMOUNT
		    , TO_CHAR(P.PAYMENT_DATE, 'YYYY-MM-DD') AS PAYMENT_DATE
		FROM PAYMENT P
		JOIN PROJECT PJ ON PJ.NO = P.PROJECT_NO
		JOIN PROJECT_STATUS PJS ON PJS.NO = PJ.STATUS_NO
		JOIN PAYMENT_TYPE PT ON PT.NO = P.PAYMENT_TYPE_NO
		JOIN PAYMENT_STATUS PS ON PS.NO = P.PAYMENT_STATUS_NO
		JOIN BACKER B ON B.PROJECT_NO = PJ.NO
		JOIN MEMBER M ON M.NO = B.MEMBER_NO
		WHERE PJS.NO = #{projectStatus}
		AND PS.NO = #{paymentStatus}
		AND P.PAYMENT_DATE = #{paymentDate}
		AND PJ.TITLE LIKE '%' || #{projectTitle} || '%'
		AND M.NAME LIKE '%' || #{backName} || '%'
		ORDER BY P.NO DESC
	</select>  
</mapper>