<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminBackMapper">
 	<select id="List" resultType="com.gamepound.app.back.vo.AdminBackVo">
 	SELECT 
 		B.NO AS BACK_NO
	    , B.MEMBER_NO
	    , M.NAME AS MEMBER_NAME
	    , P.TITLE AS PROJECT_TITLE
	    , P.NO AS PROJECT_NO
	    , P.START_DATE
	    , P.END_DATE
	    , P.CAL_DATE
	    , PS.STATUS
	    , R.NAME AS REWARD_NAME
	    , R.AMOUNT AS REWARD_AMOUNT
	    , B.BACKING_DATE
	    , PS.PAYMENT_STATUS
	    , PT.PAYMENT_TYPE
	FROM BACKER B
	    JOIN MEMBER M ON B.MEMBER_NO = M.NO
	    JOIN PROJECT P ON B.PROJECT_NO = P.NO 
	    JOIN PROJECT_STATUS PS ON P.STATUS_NO = PS.NO
	    JOIN REWARD R ON B.REWARD_NO = R.NO
	    LEFT JOIN PAYMENT PM ON PM.BACKER_NO = B.NO
	    LEFT JOIN PAYMENT_STATUS PS ON PM.PAYMENT_STATUS_NO = PS.NO
	    LEFT JOIN PAYMENT_TYPE PT ON PM.PAYMENT_TYPE_NO = PT.NO
 	</select>
 	
	<select id="List" resultType="com.gamepound.app.back.vo.AdminBackVo">
 	SELECT 
 		B.NO AS BACK_NO
	    , B.MEMBER_NO
	    , M.NAME AS MEMBER_NAME
	    , P.TITLE AS PROJECT_TITLE
	    , P.NO AS PROJECT_NO
	    , P.START_DATE
	    , P.END_DATE
	    , P.CAL_DATE
	    , PS.STATUS
	    , R.NAME AS REWARD_NAME
	    , R.AMOUNT AS REWARD_AMOUNT
	    , B.BACKING_DATE
	    , PS.PAYMENT_STATUS
	    , PT.PAYMENT_TYPE
	FROM BACKER B
	    JOIN MEMBER M ON B.MEMBER_NO = M.NO
	    JOIN PROJECT P ON B.PROJECT_NO = P.NO 
	    JOIN PROJECT_STATUS PS ON P.STATUS_NO = PS.NO
	    JOIN REWARD R ON B.REWARD_NO = R.NO
	    LEFT JOIN PAYMENT PM ON PM.BACKER_NO = B.NO
	    LEFT JOIN PAYMENT_STATUS PS ON PM.PAYMENT_STATUS_NO = PS.NO
	    LEFT JOIN PAYMENT_TYPE PT ON PM.PAYMENT_TYPE_NO = PT.NO
	WHERE BACK_NO = #{backNo}
 	</select>
</mapper>