<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminProjectMapper">

<select id="cntProjects" resultType="java.lang.String">
	SELECT
		COUNT(*)
	FROM PROJECT P
</select>

<select id="list" resultType="ProjectVo">
	SELECT
	    P.NO
	    , C.MAIN_CATEGORY MAIN_CATEGORY
	    , C.SUB_CATEGORY SUB_CATEGORY
	    , P.TITLE TITLE
	    , P.STATUS_NO STATUS_NO
	    , PS.STATUS STATUS_NAME
	FROM PROJECT P
	JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	JOIN PROJECT_STATUS PS ON PS.NO = P.STATUS_NO
	ORDER BY P.NO DESC
</select>

<select id="detail" resultType="com.gamepound.app.project.vo.ProjectDetailVo">
	SELECT
	    P.NO NO
	    , C.MAIN_CATEGORY MAIN_CATEGORY
	    , C.SUB_CATEGORY SUB_CATEGORY
	    , M.NAME MEMBER_NAME
	    , P.TITLE TITLE
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.GOAL_AMOUNT)), '(\d{3})', '\1,')), '^,', '') GOAL_AMOUNT
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.CURRENT_AMOUNT)), '(\d{3})', '\1,')), '^,', '') CURRENT_AMOUNT
	    , P.IMAGE_URL IMAGE_URL
	    , P.OK_YN OK_YN
	    , TO_CHAR(P.OK_DATE, 'YY"년" MM"월" DD"일"') OK_DATE
	    , TO_CHAR(P.ENROLL_DATE, 'YY"년" MM"월" DD"일"') ENROLL_DATE
	    , TO_CHAR(P.START_DATE, 'YY"년" MM"월" DD"일"') START_DATE
	    , TO_CHAR(P.END_DATE, 'YY"년" MM"월" DD"일"') END_DATE
	    , TO_CHAR(P.CAL_DATE, 'YY"년" MM"월" DD"일"') CAL_DATE
	    , P.DELETE_YN DELETE_YN
	    , PS.NO STATUS_NO
	    , PS.STATUS STATUS_NAME
	    , R.NO REWARD_NO
	    , R.AMOUNT REWARD_AMOUNT
	    , R.NAME REWARD_NAME
	    , SI.BANK_NAME BANK_NAME
	    , SI.NAME OWNER_NAME
	    , SI.ACCOUNT_NUM ACCOUNT_NUM
	FROM PROJECT P
	LEFT OUTER JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	LEFT OUTER JOIN PROJECT_STATUS PS ON PS.NO = P.STATUS_NO
	LEFT OUTER JOIN MEMBER M ON M.NO = P.MEMBER_NO
	LEFT OUTER JOIN REWARD R ON R.PROJECT_NO = P.NO 
	LEFT OUTER JOIN SETTLEMENT_INFO SI ON SI.PROJECT_NO = P.NO
	LEFT OUTER JOIN PROJECT_STATUS PS ON PS.NO = P.STATUS_NO
	WHERE P.NO = #{projectNo}
</select>

<update id="update">
	UPDATE PROJECT
	    SET STATUS_NO = #{statusNo}
	WHERE NO = #{projectNo}
</update>
 
<select id="search" resultType="ProjectVo">
	SELECT
	    P.NO NO
	    , C.MAIN_CATEGORY MAIN_CATEGORY
	    , C.SUB_CATEGORY SUB_CATEGORY
	    , P.TITLE TITLE 
	    , PS.STATUS STATUS_NAME
	    , M.NAME MEMBER_NAME
	FROM PROJECT P
	JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	JOIN PROJECT_STATUS PS ON PS.NO = P.STATUS_NO
	JOIN MEMBER M ON P.MEMBER_NO = M.NO
	<trim prefix="WHERE" prefixOverrides="AND">
		<if test="(status != null || status != '') and (status!=null and !status.equals('all'))">
			AND PS.STATUS = #{status}
		</if>
		<if test="(mainCategory != null || mainCategory != '') and (status!=null and !mainCategory.equals('all'))">
			AND C.MAIN_CATEGORY = #{mainCategory}
		</if>
		<if test="(subCategory != null || subCategory != '') and (subCategory!=null and !subCategory.equals('all'))">
			AND C.SUB_CATEGORY = #{subCategory}
		</if>
		<if test="creator != null and creator != ''">
			AND M.NAME = #{creator}
		</if>
		<if test="projectTitle != null and projectTitle != ''">
			AND P.TITLE LIKE '%' || #{projectTitle} || '%'			
		</if>
	</trim>
	ORDER BY P.NO DESC
</select>

<select id="cntSearch" resultType="java.lang.String">
	SELECT
	    COUNT(*)
	FROM PROJECT P
	JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	JOIN PROJECT_STATUS PS ON PS.NO = P.STATUS_NO
	JOIN MEMBER M ON P.MEMBER_NO = M.NO
	<trim prefix="WHERE" prefixOverrides="AND">
		<if test="mainCategory != null || mainCategory != '' and mainCategory != 'all'">
			AND C.MAIN_CATEGORY = #{mainCategory}
		</if>
		<if test="subCategory != null || subCategory != '' and subCategory != 'all'">
			AND C.SUB_CATEGORY = #{subCategory}
		</if>
		<if test="status != null || status != '' || status != 'all'">
			AND PS.STATUS = #{status}
		</if>
		<if test="creator != null || creator != ''">
			AND M.NAME = #{creator}
		</if>
		<if test="projectTitle != null || projectTitle != ''">
			AND P.TITLE LIKE '%' || #{projectTitle} || '%'			
		</if>
	</trim>	
	ORDER BY P.NO DESC
</select>
</mapper>