<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BackMapper">
  
  
<!--   후원하기(화면) - 프로젝트 정보 갖고 오기 -->
<select id="viewBackingInfo" resultType="BackVo">
	SELECT
	    P.NO AS PROJECT_NO
	    , C.MAIN_CATEGORY AS CATEGORY_NAME
	    , C.SUB_CATEGORY AS SUBCATEGORY_NAME
	    , M.NAME AS MEMBER_NAME
	    , P.TITLE AS PROJECT_TITLE
	    , P.IMAGE_URL AS PROJECT_IMG
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.CURRENT_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS CURRENT_AMOUNT
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.GOAL_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS GOAL_AMOUNT
	    , TO_CHAR(P.END_DATE, 'YYYY"년" MM"월" DD"일"') AS END_DATE
	    , R.NO AS REWARD_NO
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(R.AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS REWARD_AMOUNT
	    , R.NAME AS REWARD_NAME
	FROM PROJECT P
	JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	JOIN MEMBER M ON P.MEMBER_NO = M.NO
	JOIN PROJECT_STATUS PS ON P.STATUS_NO = PS.NO
	JOIN REWARD R ON P.NO = R.PROJECT_NO
	WHERE P.NO = #{projectNo} AND R.NO = #{rewardNo}
</select>

<!--   후원하기(후원 테이블 insert) -->
  <insert id="insertBack">
  	INSERT INTO BACKER(
  		NO
  		, PROJECT_NO
  		, MEMBER_NO
  		, REWARD_NO
  		, BACKING_DATE
  	) VALUES(
  		SEQ_BACKER_NO.NEXTVAL
  		, #{projectNo}
  		, #{memberNo}
  		, #{rewardNo}
  		, SYSDATE)
  </insert>
  
<!--   후원하기(결제정보 테이블 insert) -->
	<insert id="insertPayment">
		INSERT INTO PAYMENT(
			NO
			, BACKER_NO
			, PROJECT_NO
			, PAYMENT_TYPE_NO
			, AMOUNT
		) VALUES(
			SEQ_PAYMENT_NO.NEXTVAL
			, SEQ_BACKER_NO.CURRVAL
			, #{projectNo}
			, #{paymentTypeNo}
			, #{paymentAmount}
		)
	</insert>
	
<!-- 	후원하기(카드정보 테이블 insert) -->
	<insert id="insertCard">
		INSERT INTO CARD(
		    NO
		    , PAYMENT_NO
		    , CARD_NUMBER
		    , VALID_THRU
		    , CARD_PWD
		    , BIRTH_DATE
		) VALUES(
		    SEQ_CARD_NO.NEXTVAL
		    , SEQ_PAYMENT_NO.CURRVAL
		    , #{cardNo}
		    , #{validThru}
		    , #{cardPwd}
		    , #{birthDate}
		)
	</insert>
	
<!-- 	후원하기(카카오페이정보 테이블 insert) -->
	<insert id="insertKakaopay">
		INSERT INTO KAKAOPAY(
		    NO
		    , PAYMENT_NO
		    , CUSTOMER_UID
		) VALUES(
		    SEQ_CARD_NO.NEXTVAL
		    , SEQ_PAYMENT_NO.CURRVAL
		    , #{customerUid}
		)
	</insert>
  
<!--   후원완료 -->
  <select id="cntBacker" resultType="java.lang.String">
  	SELECT
	    COUNT(*)
	FROM BACKER
	WHERE PROJECT_NO = #{projectNo}
  </select>
  
<!--   후원취소(후원정보 update) -->
  <update id="updateRetractYn">
  	UPDATE BACKER
    	SET RETRACT_YN='Y'
	WHERE NO = #{backNo}
  </update>
  
<!--   후원취소(결제정보 delete) -->
	<delete id="deletePayment">
		DELETE FROM PAYMENT
		WHERE BACKER_NO = #{backNo}
	</delete>
  
<!--   후원 상세 조회 -->
  <select id="detail" resultType="com.gamepound.app.back.vo.BackDetailVo">
	  SELECT
	    P.NO AS PROJECT_NO
	    , P.MEMBER_NO AS MEMBER_NO
	    , P.TITLE AS PROJECT_TITLE
	    , P.IMAGE_URL AS PROJECT_IMG
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.CURRENT_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS CURRENT_AMOUNT
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(P.GOAL_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS GOAL_AMOUNT
	    , PS.STATUS AS PROJECT_STATUS
	    , C.MAIN_CATEGORY AS CATEGORY_NAME
	    , C.SUB_CATEGORY AS SUBCATEGORY_NAME
	    , B.NO AS BACK_NO
	    , TO_CHAR(B.BACKING_DATE, 'YYYY.MM.DD') AS BACKING_DATE
	    , TO_CHAR(P.END_DATE, 'YYYY.MM.DD') AS END_DATE
	    , R.NAME AS REWARD_NAME
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(R.AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS REWARD_AMOUNT
	    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(PAY.AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS PAYMENT_AMOUNT
	    , PSTAT.PAYMENT_STATUS AS PAYMENT_STATUS
	    , PTYPE.PAYMENT_TYPE AS PAYMENT_TYPE
	    , B.RETRACT_YN AS RETRACT_YN
	FROM BACKER B
	LEFT OUTER JOIN PROJECT P ON B.PROJECT_NO = P.NO
	LEFT OUTER JOIN PROJECT_STATUS PS ON P.STATUS_NO = PS.NO
	LEFT OUTER JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
	LEFT OUTER JOIN MEMBER M ON B.MEMBER_NO = M.NO
	LEFT OUTER JOIN REWARD R ON B.REWARD_NO = R.NO
	LEFT OUTER JOIN PAYMENT PAY ON B.NO = PAY.BACKER_NO
	LEFT OUTER JOIN PAYMENT_STATUS PSTAT ON PSTAT.NO = PAY.PAYMENT_STATUS_NO
	LEFT OUTER JOIN PAYMENT_TYPE PTYPE ON PTYPE.NO = PAY.PAYMENT_TYPE_NO
	WHERE B.NO = #{backNo}
  </select>
  
<!--   후원 내용 변경 - 선물 변경 -->
  <update id="changeReward">
	UPDATE BACKER
		SET REWARD_NO = #{rewardNo}
	WHERE NO = #{backNo}
  </update>
  
<!--   후원 내용 변경 - 결제 수단 변경 -->
  <update id="changePayment">
  	UPDATE BACKER
	    SET PAYMENT_TYPE_NO = #{paymentTypeNo}
	WHERE NO = #{backNo}
  </update>
  
</mapper>