<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectCreateMapper">

	<!-- 작성중 프로젝트 조회 -->
	<select id="getCurrentProject" resultType="ProjectVo">
		SELECT * FROM PROJECT WHERE STATUS_NO = 1 AND MEMBER_NO = #{no} AND DELETE_YN = 'N'
	</select>
	
	<!-- 프로젝트 올리기 (카테고리 저장 및 insert) -->
	<insert id="newProject" parameterType="map" useGeneratedKeys="true" keyProperty="no">
		<selectKey keyProperty="no" resultType="ProjectVo" order="BEFORE">
	        SELECT SEQ_PROJECT_NO.NEXTVAL AS no FROM DUAL
	    </selectKey>
		INSERT INTO PROJECT(NO, CATEGORY_NO, MEMBER_NO, TITLE, IMAGE_URL) 
		VALUES (#{no}, #{categoryNo}, #{memberNo}, #{title}, #{imageUrl})
	</insert>
	
	<!-- 프로젝트 내용 조회 (메인) -->
	<select id="createMain" resultType="ProjectVo">
		SELECT
		    P.NO AS NO
		    , P.STATUS_NO AS STATUS_NO
		    , P.CATEGORY_NO AS CATEGORY_NO
		    , C.MAIN_CATEGORY_NO AS MAIN_CATEGORY_NO
		    , C.SUB_CATEGORY_NO AS SUB_CATEGORY_NO
		    , C.MAIN_CATEGORY AS MAIN_CATEGORY
		    , C.SUB_CATEGORY AS SUB_CATEGORY
		    , P.MEMBER_NO AS MEMBER_NO
		    , M.NAME AS MEMBER_NAME
		    , P.TITLE AS TITLE
		    , P.GOAL_AMOUNT AS GOAL_AMOUNT
		    , P.IMAGE_URL AS IMAGE_URL
		    , P.TXT_DESCRIPTION AS TXT_DESCRIPTION
		    , P.TXT_BUDGET AS TXT_BUDGET
		    , P.TXT_SCHEDULE AS TXT_SCHEDULE
		    , P.TXT_TEAM AS TXT_TEAM
		    , P.TXT_ITEM AS TXT_ITEM
		    , P.CURRENT_AMOUNT AS CURRENT_AMOUNT
		    , P.OK_YN AS OK_YN
		    , P.OK_DATE AS OK_DATE
		    , P.ENROLL_DATE AS ENROLL_DATE
		    , P.START_DATE AS START_DATE
		    , P.END_DATE AS END_DATE
		    , P.CAL_DATE AS CAL_DATE
		    , P.DELETE_YN AS DELETE_YN
		FROM PROJECT P
		JOIN MEMBER M ON P.MEMBER_NO = M.NO
		JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
		WHERE P.NO = #{no}
		AND P.DELETE_YN = 'N'
	</select>
	
	<!-- 프로젝트 작성조회 : 펀딩계획 -->
	<select id="getPlan" resultType="ProjectVo">
		SELECT 
			GOAL_AMOUNT
			, TO_CHAR(START_DATE, 'YYYY-MM-DD') AS START_DATE
			, TO_CHAR(END_DATE, 'YYYY-MM-DD') AS END_DATE
		FROM PROJECT
		WHERE NO = #{no}
		AND DELETE_YN = 'N'
	</select>
	
	<!-- 프로젝트 작성조회 : 프로젝트 계획 -->
	<select id="getDateplan" resultType="ProjectVo">
		SELECT TXT_DESCRIPTION, TXT_BUDGET, TXT_SCHEDULE, TXT_TEAM, TXT_ITEM
		FROM PROJECT
		WHERE NO = #{no}
		AND DELETE_YN = 'N'
	</select>
	
	<!-- 프로젝트 작성저장 : 기본정보 -->
	<update id="saveBasic">
	    UPDATE PROJECT
	    <set>
	        <if test="categoryNo != null">CATEGORY_NO = #{categoryNo},</if>
	        <if test="title != null">TITLE = #{title},</if>
	        <if test="imageUrl != null">IMAGE_URL = #{imageUrl}</if>
	    </set>
	    WHERE NO = #{no}
	</update>
	
	<!-- 프로젝트 작성저장 : 펀딩계획 -->
	<update id="savePlan">
		UPDATE PROJECT
		<set>
	        <if test="goalAmount != null">GOAL_AMOUNT = #{goalAmount},</if>
	        <if test="startDate != null">START_DATE = #{startDate},</if>
	        <if test="endDate != null">END_DATE = #{endDate}</if>
	    </set>
		WHERE NO = #{no}
	</update>
	
	<!-- 프로젝트 작성 : 선물구성 -->
	<insert id="createReword">
		INSERT INTO REWARD(NO, PROJECT_NO, AMOUNT, NAME)
		VALUES(
			SEQ_REWARD_NO.NEXTVAL, 
			#{projectNo},
			<choose>
		        <when test="amount != null">
		        	#{amount}
		        </when>
	        </choose>, 
	        <choose>
		        <when test="name != null">
		        	#{name}
		        </when>
	        </choose>
		)
	</insert>
	
	<!-- 프로젝트 작성저장 : 선물구성 -->
	<update id="saveReword">
	    UPDATE REWARD
	    <trim prefix="SET" suffixOverrides=",">
	        <if test="amount != null">AMOUNT = #{amount},</if>
	        <if test="name != null">NAME = #{name},</if>
	    </trim>
	    WHERE NO = #{no}
	</update>
	
	<!-- 프로젝트 선물삭제 : 선물구성 -->
	<delete id="deleteReword">
		DELETE FROM REWARD
		WHERE NO = #{no}
	</delete>
	
	<!-- 프로젝트 작성저장 : 프로젝트 계획 -->
	<update id="saveDateplan">
		UPDATE PROJECT
		    <trim prefix="SET" suffixOverrides=",">
		        <if test="txtDescription != null">TXT_DESCRIPTION = #{txtDescription},</if>
		        <if test="txtBudget != null">TXT_BUDGET = #{txtBudget},</if>
		        <if test="txtSchedule != null">TXT_SCHEDULE = #{txtSchedule},</if>
		        <if test="txtTeam != null">TXT_TEAM = #{txtTeam},</if>
		        <if test="txtItem != null">TXT_ITEM = #{txtItem},</if>
		    </trim>
		WHERE NO = #{no}
	</update>
	
	<!-- 프로젝트 작성저장 : 창작자 정보 -->
	<update id="saveUserinfo">
		MERGE INTO SETTLEMENT_INFO target
		USING (
		    SELECT
		        #{projectNo} AS PROJECT_NO
		        , #{bankName} AS BANK_NAME
		        , #{name} AS NAME
		        , #{accountNum} AS ACCOUNT_NUM
		    FROM dual
		) source
		ON (target.PROJECT_NO = source.PROJECT_NO)
		WHEN MATCHED THEN
		    UPDATE SET
		        target.BANK_NAME = source.BANK_NAME
		        , target.NAME = source.NAME
		        , target.ACCOUNT_NUM = source.ACCOUNT_NUM
		WHEN NOT MATCHED THEN
		    INSERT (
		    	NO
		        , PROJECT_NO
		        , BANK_NAME
		        , NAME
		        , ACCOUNT_NUM
		    ) VALUES (
		    	SEQ_SETTLEMENT_INFO_NO.NEXTVAL
		        , source.PROJECT_NO
		        , source.BANK_NAME
		        , source.NAME
		        , source.ACCOUNT_NUM
		    )
	</update>
	
	<!-- 프로젝트 승인요청 -->
	<update id="approvalProject">
		UPDATE PROJECT
			SET STATUS_NO = 2
		WHERE NO = #{no}
	</update>
	
</mapper>