<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">

	<!-- 프로젝트 카테고리별 목록 가져오기 -->
  <select id="ListCategory" resultType="ProjectVo">
	  <![CDATA[
		SELECT 
		    NO
		    , STATUS_NO
		    , IMAGE_URL
		    , CATEGORY_NO
		    , MAIN_CATEGORY
		    , SUB_CATEGORY
		    , MEMBER_NO
		    , NAME AS MEMBER_NAME
		    , TITLE
		    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(GOAL_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS "GOAL_AMOUNT"
		    , GOAL_AMOUNT AS GOAL_AMOUNT_NO
		    , REGEXP_REPLACE(REVERSE(REGEXP_REPLACE(REVERSE(TO_CHAR(CURRENT_AMOUNT)), '(\d{3})', '\1,')), '^,', '') AS "CURRENT_AMOUNT"
		    , CURRENT_AMOUNT AS CURRENT_AMOUNT_NO
		    , END_DATE
			]]>
		FROM (
		        SELECT 
		        P.NO
		        , P.IMAGE_URL
		        , P.CATEGORY_NO
		        , C.MAIN_CATEGORY
		        , C.SUB_CATEGORY
		        , P.MEMBER_NO
		        , M.NAME
		        , P.TITLE
		        , P.END_DATE
		        , P.GOAL_AMOUNT
		        , P.CURRENT_AMOUNT
		        , P.STATUS_NO
		    FROM (SELECT NO
		                , IMAGE_URL
		                , CATEGORY_NO
		                , MEMBER_NO
		                , TITLE
		                , END_DATE
		                , GOAL_AMOUNT
		                , CURRENT_AMOUNT
		                , STATUS_NO
		                FROM PROJECT
		                WHERE DELETE_YN = 'N'
		                	AND CATEGORY_NO = #{categoryNo}) P
		        JOIN MEMBER M ON P.MEMBER_NO = M.NO
		        JOIN CATEGORY C ON P.CATEGORY_NO = C.NO
		        JOIN PROJECT_STATUS PS ON P.STATUS_NO = PS.NO
	        <if test=" statusNo == null or statusNo == ''" >
		        WHERE 
		        P.STATUS_NO = 3 
		        OR P.STATUS_NO = 5 
		        OR P.STATUS_NO = 6 
		        OR P.STATUS_NO = 7
	        </if>
	        <if test=" statusNo != null and statusNo != '' " >
	        	WHERE P.STATUS_NO = #{statusNo}
	        </if>
		    )
		    <if test="(achievementRateStart != null and achievementRateStart != '') or (achievementRateEnd != null and achievementRateEnd != '')">
				WHERE 
				<trim prefixOverrides="AND">
					<if test="achievementRateStart != null and achievementRateStart != ''">
						<![CDATA[CURRENT_AMOUNT*100/GOAL_AMOUNT >= #{achievementRateStart}]]>
					</if>
					<if test="achievementRateEnd != null and achievementRateEnd != ''">
						<![CDATA[AND CURRENT_AMOUNT*100/GOAL_AMOUNT <= #{achievementRateEnd}]]>
					</if>
				</trim>
		    </if>
  </select>
  
  
</mapper>