<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

<!-- 리뷰 목록 조회 -->
<select id="listReview" resultType="com.gamepound.app.review.vo.ReviewVo">
	SELECT
	    R.NO
	    , R.MEMBER_NO
	    , R.PROJECT_NO
	    , R.BACKER_NO
	    , R.CONTENT
	    , R.IMAGE
	    , R.RATING
	    , TO_CHAR(R.ENROLL_DATE, 'YY"년" MM"월" DD"일"')
	FROM REVIEW R
	JOIN PROJECT P ON R.PROJECT_NO = P.NO 
	WHERE P.MEMBER_NO = #{memberNo}
</select>

<select id="getStat" resultType="com.gamepound.app.review.vo.ReviewStatVo">
	SELECT
	    AVG(R.RATING)   RATING_AVG
	    , COUNT(R.RATING) TOTAL_COUNT
	    , COUNT(CASE WHEN R.RATING = 1 THEN 1 END) AS COUNT_RATING_1
	    , COUNT(CASE WHEN R.RATING = 2 THEN 1 END) AS COUNT_RATING_2
	    , COUNT(CASE WHEN R.RATING = 3 THEN 1 END) AS COUNT_RATING_3
	    , COUNT(CASE WHEN R.RATING = 4 THEN 1 END) AS COUNT_RATING_4
	    , COUNT(CASE WHEN R.RATING = 5 THEN 1 END) AS COUNT_RATING_5
	FROM REVIEW R
	JOIN PROJECT P ON P.NO = R.PROJECT_NO
	WHERE P.MEMBER_NO = #{memberNo}
</select>

<!-- 리뷰 작성 -->
<insert id="write">
	INSERT INTO REVIEW(
	    NO
	    , MEMBER_NO
	    , PROJECT_NO
	    , BACKER_NO
	    , CONTENT
	    , IMAGE
	    , RATING
	)
	VALUES(
	    SEQ_REVIEW_NO.NEXTVAL
	    , #{memberNo}
	    , #{projectNo}
	    , #{backerNo}
	    , #{content}
	    , #{reviewImg}
	    , #{rating}
	)
</insert>
  
</mapper>