<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

<insert id="write">
	INSERT INTO REVIEW(
	    NO
	    , MEMBER_NO
	    , PROJECT_NO
	    , BACKER_NO
	    , CONTENT
	    , IMAGE
	    , RATING
	)
	VALUES(
	    SEQ_REVIEW_NO.NEXTVAL
	    , #{memberNo}
	    , #{projectNo}
	    , #{backerNo}
	    , #{content}
	    , #{reviewImg}
	    , #{rating}
	)
</insert>
  
</mapper>