<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SettlementCreateMapper">
	<select id="getSettlementByNo" resultType="com.gamepound.app.settlement.vo.SettlementVo">
		SELECT BANK_NAME, NAME, ACCOUNT_NUM
		FROM SETTLEMENT_INFO
		WHERE PROJECT_NO = #{no}
	</select>
</mapper>